*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/*Header*/

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;

    background-color: darkslategrey;
}

.head_left{
    display: flex;
}

img{
    width: 70px;
}

h1{
    align-self: center;
    margin-left: 1rem;
    color: rgb(243, 211, 211);
}

.head_right{
    vertical-align: middle;
}

select{
    width: 100px;
}

button{
    padding:0 1rem;
    border-radius: 20px;
}

/*Main*/
main{
    background-color: lightsteelblue;
    padding: 0.7rem 0;
}
.container{
    display: flex;
    flex-wrap: wrap;
    width: 470px;
    margin: auto;
}

.cell{
   
    aspect-ratio: 1;
    border: 1px solid;
    background-color: aquamarine;

    display: flex;
    align-items: center;
    justify-content: center;
}

.bg_loser{
    background-color: red;
}

.bg_continue{
    background-color: lightsalmon;
}

/*Footer*/
footer{
    background-color: navajowhite;
}